<div class="jumbotron">
    <h1 class="text-center">See the Cats!</h1>
</div>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <ul class="list-group">
            <% @cats.each do |c| %>
                <li class="list-group-item cat-list"><%= c.name %>
                <%= link_to c, :class => "btn btn-success btn-sm show-btn", :title => "View "+c.name, :type => "button" do %>
                    <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                <% end %>
                <%= link_to [:edit, c], :class => "btn btn-sm btn-primary edit-btn", :title => "Edit "+c.name, :type => "button" do %>
                    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                <% end %>
                <%= link_to c, method: :delete, :confirm => "Are you sure you want to delete "+c.name+"?", :class => "btn btn-sm btn-danger del-btn", :title => "Delete "+c.name, :type => "button" do %>
                    <i class="glyphicon glyphicon-remove-circle" aria-hidden="true"></i>
                <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</div>